data/
temp_data/
iopaths/
atlases/
venv/
saved_models/
scripts/
logs/
.git/
__pycache__/
*.swp
.nfs*
*.db
*.csv
*.png
nohup.out
notes/
pt_data/
lightning_logs/
environments/venv-tf/
environments/venv-torch/
environments/venv-ae/
model_checkpoints/
model_performance/
