wheel
numpy<2.0.0
pandas
nibabel
matplotlib
tqdm
nvidia-cudnn-cu12
tensorflow==2.16.1
keras
tf-keras
torch
torchmetrics
torchvision
pytorch-lightning
monai==0.7.0
scikit-learn
scikit-image
antspynet
umap-learn
